aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altgraph
annotated-doc
annotated-types
anyio
asn1crypto
attrs
beautifulsoup4
bidict
blinker
bottle
bs4
CacheControl
certifi
cffi
charset-normalizer
click
clr_loader
colorama
comtypes
contourpy
cryptography
customtkinter
cycler
darkdetect
distro
docutils
et_xmlfile
fastapi
fastexcel
feedparser
fire
firebase_admin
Flask
fonttools
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httptools
httpx
hyperframe
idna
ifaddr
img2table
itsdangerous
japanize-matplotlib
Jinja2
kiwisolver
lxml
lxml_html_clean
markdown2
MarkupSafe
matplotlib
MouseInfo
msgpack
multidict
nicegui
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
orjson
outcome
packaging
pandas
pdf2docx
pefile
pg8000
pillow
playwright
polars
polars-runtime-32
propcache
proto-plus
protobuf
proxy_tools
psutil
psycopg2-binary
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
pyee
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMsgBox
PyMuPDF
pynput
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
PyRect
PyScreeze
PySide6
PySide6_Addons
PySide6_Essentials
PySocks
pystray
pytesseract
python-dateutil
python-docx
python-dotenv
python-engineio
python-multipart
python-pptx
python-socketio
pythonnet
pytweening
pytz
pywebview
pywin32
pywin32-ctypes
pywinauto
PyYAML
requests
rsa
schedule
scramp
selenium
setuptools
sgmllib3k
shiboken6
simple-websocket
six
sniffio
sortedcontainers
soupsieve
starlette
tenacity
termcolor
tinycss2
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
watchfiles
webencodings
websocket-client
websockets
Werkzeug
wheel
windnd
wsproto
xlsxwriter
yarl
